
@{
    ViewBag.Title = "About";
}

<h2 style="color:blue ;font:bold;font-family:'AR BERKLEY'">About WowHotel</h2>
<h5 style="        color: black;
        font: bold;
        font-family: Bernard MT Condensed">
    WowHotel, the historic brand of our Group, offers each guest the freedom to experience their stay to the max. How? By offering a full-service experience to meet every expectation! The Life Genius spirit is what drives the teams' passion, always doing their utmost to offer their guests a unique and unforgettable experience. WowHotel is also an increasingly rich digital experience… Modern Easy Living, a unique type of stay, full of elegance and simplicity!
    Hotels in every corner of the world:527
    Countries:61
    WowHotel Suites internationally:34
    Children welcomed every year:over 2
    million
    Bookings every minute:1.05
    Built between 1928 and 1943, Umaid Bhawan Palace is a magnificent piece of Rajasthan’s heritage,
    and a symbol of new Jodhpur. Home of the erstwhile Jodhpur royal family and currently the world’s sixth-largest
    private residence, the palace has one thing in common with the iconic Taj Mahal at Agra—the palm court marble used in
    its construction.   Perched on Chittar Hill, the highest point in Jodhpur, Umaid Bhawan Palace inspires with exotic
    views of the historical Blue City, vast sand dunes, and intimidating Mehrangarh Fort. The palace is conveniently
    located 20 minutes from the airport, close to the main shopping areas, and the Balsamand and Kalyana lakes.   The last of the great palaces of
    India, the property houses a family museum, as well as the resplendent Umaid Bhawan Palace. Set amidst 26 acres of lush gardens, with dancing peacocks
    and a subterranean Zodiac Pool, the luxury five-star Taj heritage hotel offers 70 utterly breathtaking Art Deco- style rooms a
    nd suites.   Tantalise your taste buds at Risala with authentic Rajasthani and Indian cuisine. Discover an array of European and Mediterranean delicacies at
    Pillars, set in a lovely colonnaded veranda. Unwind at the Trophy Bar with its unique hunting-themed décor and vast selection of alcoholic beverages and cigars.   Pamper yourself with rejuve
    nating signature treatments and therapies at the Jiva Grande Spa, or soothe your mind and body with yoga and meditation.Take a heritage walk and relive a fascinating bygone era brought to life
    through majestic monuments.   Soak in the original architecture of a fascinating bygone era and discover the rich history of a palace that has enjoyed actual royal company—Maharani Badan
    Kanwar of Jodhpur having lived here. Stroll through the lush, landscaped Baradari Lawns, perfect for those who have always envisioned a fairy tale wedding.   Come,
    experience luxury like the royals did.
</h5>
