
@{
    ViewBag.Title = "Index";
}

<h2 style="        color: red;
        font: bold;
        font-family: 'AR BERKLEY'
">WELCOME TO WOWHOTEL</h2>
<h5 style="color:black;font:bold;font-family:Bernard MT Condensed">
    On behalf of all my staff,I Hope you will be having wonderful stay here.
    Management and staff are pleased to be your hosts.
</h5>
    <h3 style="color:blue;font:bold;font-family:Bernard MT Condensed">HotelPolicies:--</h3>
    <h5 style="color:black;font:bold;font-family:Bernard MT Condensed">
        Check-in from 2:00 PM
        Check-out till 12:00 PM
        Early check-in and late check-out on request
        We accept American Express, Diner's Club, Master Card, Visa, JCB International
        Explore Taj Kids, a kids program (Subject to availability ) based on adventure, discovery, questing all the while keeping in mind fun while learning. Choose from a whole host of complimentary and paid activities at the hotel during your stay.
        Pets are welcomed.
    </h5>

