
@{
    ViewBag.Title = "UserLogin";

   Layout = "~/Views/Shared/_CustomerLayoutPage1.cshtml";
}

<h2></h2>
@using (Html.BeginForm())
{
@*<table>
    <tr>
        <td>
            @Html.ActionLink("SearchHotelNew", "SearchHotelNew", "Team1")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Booking", "booking", "Team1")
        </td>
    </tr>


    <tr>
        <td>
            @Html.ActionLink("Logout", "Logout", "Team1")
        </td>
    </tr>
</table>*@
}

